@import url("./-reset.css");
@import url("./-variaveis.css");

:root {
  font-size: 60%;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

body,
input,
button,
textarea {
  font-family: var(--family-primary);
  font-size: 1.6rem;
}

.container {
  padding: 0 10rem;
}

.center {
  margin: 0 auto;
  max-width: 1170px;
}

/* transition: all 0.2s ease; */

.scaleEffect:hover {
  transform: translateY(-1rem);
  background-color: red;
  transition: transform 0.3s ease;
  cursor: pointer;
}
