main .title {
  font-size: 6.2rem;
  font-weight: var(--font-semi-bold);
  font-family: var(--family-primary);
  text-align: center;
  color: #ffffff;
  line-height: 7.4rem;
  max-width: 67.8rem;

  animation-name: fade-left;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-duration: 1.2s;
  animation-fill-mode: backwards;
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-200%);
  }

  to {
    opacity: 1;
    top: 0;
    transform: translateX(0%);
  }
}
